* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #27202c;
}

.Dashboard-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
}

.group-card {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

h3 {
	font-family: Helvetica-Bold;
	font-size: 16px;
	color: #ffffff;
	text-align: left;
	margin-bottom: 20px;
}
