body {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: #e5556e;
}

.nav-links {
	display: flex;
	align-items: center;
}

img {
	width: 24px;
	height: 24px;
	margin: 25px 0 25px 30px;
}

i {
	width: 24px;
	height: 24px;
	margin: 25px 30px 25px 0px;
}

a {
	font-family: Helvetica-Bold;
	font-size: 16px;
	color: #ffffff;
	margin: 25px 0 25px 30px;
	text-decoration: none;
}
